/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
  cursor: pointer;
}

/* nav releted styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  color: #474747;
}

/* header releted styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.banner{
    padding: 30px 30px 0px 195px ;
    display: flex;
    align-items: center;
}

.banner .banner-picture img{
    width: 550px;
    margin-left: 110%;
}

.banner-greeting{
    color: #474747;
    margin-bottom: 0px;
    font-size: 45px;
}

.banner-title{
    margin-top: 5px;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-description{
    margin-top: 0px;
    width: 500px;
    margin-bottom: 30px;
}

.btn-letest{
  border: solid #fd6e0a 1px;
  border-radius: 5px;
  padding: 15px 35px;
  cursor: pointer;
  font-size: 19px;
  margin-left: 20px;
}